.banner {
    background-color: #144D65;
    display: flex;
    padding:2rem;
    margin: 0  1.5rem 1.5rem 0;
    /* justify-content: space-around; */
    /* border: 1px solid black; */

}
.banner__image {
    width: 19.1rem;
    /* height: 19.1rem; */
    border-radius: 1.4rem;
}

.banner__title {
    font-size: 4.5rem;
    font-weight: 450;
    margin-left: 2rem;
}

.banner__text {
    margin-left: 2rem;
    margin-top: .3rem;
    font-size: 1.5rem;
    color:#DBDBDB;
    font-weight: 450;
}