.left-section {
    background-color: #144D65;
    width: 21%;
}
.page__logo-group {
    font-size: 2.9rem;
    font-weight: bold;
    margin-top: 2rem;
}

.page__logo-img {
    width: 6.7rem;
    display:inline;
}

.page__logo-text {
    display: inline-block;
    position: relative;
    bottom: 2rem;
}

.page__link {
    text-decoration: none;
    display: block;
    color: white;
    font-size: 1.9rem;
    font-weight: bold;
    /* border: 1px solid black; */
    margin:1rem;
    padding: 1rem;
    border-radius: .6rem;
}

.page__link--active {
    background: #053B52;

}