.left-section {
    background-color: #144D65;
    width: 20%;
}
.page__logo-group {
    font-size: 2.9rem;
    font-weight: bold;
    margin-top: 2.6rem;
    margin-left: 10%;
    margin-bottom: 7%;
}

.page__logo-img {
    width: 6.7rem;
    display:inline;
}

.page__logo-text {
    display: inline-block;
    position: relative;
    bottom: 2rem;
}

.page__link {
    text-decoration: none;
    display: block;
    color: white;
    font-size: 1.9rem;
    font-weight: bold;
    margin:3% 5%;
    padding: 1.5rem;
    border-radius: .6rem;
}
.page__link:hover {
    background: #053B52;

}
.page__link--active {
    background: #053B52;
}

@media screen and (max-width: 700px) {
    .left-section {
        width: 10%;
    }

    .page__link-text {
        display: none;
    }
    
    .page__logo-text {
        display: none;
    }

    .page__logo-img {
        width: 5rem;
    }

    .page__logo-group {
        margin-left: 10%;
    }
}