/* .page__list {
    font-size: 1.9rem;
}

.page__list td {
    padding: 1rem  10rem 1rem 1rem;
}

.page__list-head {
    font-weight: bold;
} */

.font-size-19 {
    font-size: 1.9rem;
}

.page__list-head {
    font-weight: bold;
    display: flex;
    padding: 1rem 0;

}

.page__list-children {
    display: flex;
    padding: 1rem 0;

}

.page__list-first-column {
    width: 5%;
}

.page__list-three-last-columns {
    width:30%
}
