.page__list {
    font-size: 1.9rem;
}

.page__list td {
    /* border: 1px solid white; */
    padding: 1rem  10rem 1rem 1rem;
    /* padding: 1rem  1rem 1rem 10rem; */
}

.page__list-head {
    font-weight: bold;
}