.page {
    display:flex;
    color:white;
}

.page__first-title {
    font-size: 2.9rem;
}

.icon {
    margin-right: 2rem;
}

.right-section {
    background-color: #053B52;
    width: 80%;
    padding-left: 3rem;
}