.page__top {
    display:flex;
    color:white;
}

.page__playlist-selected-list {
    height: 60vh;
    overflow-y: scroll;
}

.page__result-list {
    height: 60vh;
    overflow-y: scroll;
}

.page__first-title {
    font-size: 2.9rem;
    margin: 3.5% 0;
}

.icon {
    margin-right: 2rem;
}

::-webkit-scrollbar {
    display: none;
}

.right-section {
    background-color: #053B52;
    width: 80%;
    padding:0 3%;
}

@media screen and (max-width: 700px) {
    .right-section {
        width: 90%;       
    }
}

@media screen and (max-width: 450px) {
    .page__top {
        flex-direction: column-reverse;
    }

    .page__first-title {
        margin: 5% 0;
    }
    
    .right-section {
        width: 100%;
    }
}

