.right-section {
    background-color: #053B52;
    width: 79%;
    padding-left: 3rem;
}


.page__input::placeholder {
    color:white;
}

.page__profile-picture {
    width:4rem;
    height:4rem;
    border-radius: 100%;
    position: relative;
    top:1.3rem;
    margin-right: .3rem;   
}

.page__profile-text {
    font-size: 2rem;
    font-weight: bold;
}

/* Card */
.page__first-title {
    font-size: 2.9rem;
}



.page__list {
    font-size: 1.9rem;
}

.page__list td {
    /* border: 1px solid white; */
    padding: 1rem  10rem 1rem 1rem;
    /* padding: 1rem  1rem 1rem 10rem; */
}

.page__list-head {
    font-weight: bold;
}
